<footer class="footer">
  <div class="footer__content">
    <a href="/">
      {% load static %}
      <img
        src="{% static '/images/logo-footer.png' %}"
        alt="Logo of the Little Lemon Restaurant"
      />
    </a>
    <div class="footer__text">
      <p class="footer__text__copy">
        Copyright © 2023 Little Lemon. All rights reserved.
      </p>
      <p class="footer__text__credits">
        Designed and developed by
        <a href="https://twitter.com/patternina_">Patternina</a>.
      </p>
    </div>
  </div>
</footer>
